<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"      
 "http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">

<mapper namespace="com.blog.dao.TypeDao">
	<!-- 查询帖子开始 -->
	<select id="findTypeByName" parameterType="string" resultType="com.blog.entity.Type">
		select 
			t_id as id,
			name,
			image,
			manager_id as managerId
		from 
			type
		where 
			name = #{name}
		
	</select>
	<select id="findTypeById" parameterType="string" resultType="com.blog.entity.Type">
		select 
			t_id as id,
			name,
			image,
			manager_id as managerId
		from 
			type
		where 
			t_id = #{id}
		
	</select>
	
	<select id="findAll" resultType="map">
		select 
			t_id as id,
			name,
			image,
			manager_id as managerId
		from 
			type
	
		
	</select>
	
	<insert id="addType" parameterType="com.blog.entity.Type">
	insert into
		type
	(
		t_id,
		name,
		image,
		manager_id
	)
	values(
		#{id},
		#{name},
		#{image},
		#{managerId}
	)
	</insert>
	
	<update id="update" parameterType="com.blog.entity.Type">
		update
			type
		set 
			name=#{name},
			image=#{image},
			manager_id=#{managerId}
		where
			t_id=#{id}	
	</update>
	
</mapper>