<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"      
 "http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">

<mapper namespace="com.blog.dao.UserDao">
	<!-- 查询用户开始 -->
	<select id="findAllUser" resultType="map">
		select 
			id,
			introduct,
			user,
			pass,
			name,
			phone,
			avatar,
			qq_number,
			email,
			address,
			state,
			createTime,
			lastLoginTime,
			lastModifyTime
		from 
			user 
	
	</select>
	<select id="findUserById" parameterType="string" resultType="com.blog.entity.User">
		select 
			id,
			introduct,
			user,
			pass,
			name,
			phone,
			avatar,
			qq_number,
			email,
			address,
			state,
			createTime,
			lastLoginTime,
			lastModifyTime
		from 
			user
		where
			id=#{id}
	</select>
	
	<select id="findUserByState" parameterType="string" resultType="map">
		select 
			id,
			introduct,
			user,
			pass,
			name,
			phone,
			avatar,
			qq_number,
			email,
			address,
			state,
			createTime,
			lastLoginTime,
			lastModifyTime
		from 
			user
		where
			state=#{state}
	</select>
	
	<select id="findUserByName" parameterType="string" resultType="com.blog.entity.User">
		select 
			id,
			introduct,
			user,
			pass,
			name,
			phone,
			avatar,
			qq_number,
			email,
			address,
			state,
			createTime,
			lastLoginTime,
			lastModifyTime
		from 
			user
		where
			user=#{name}
	</select>
	
	<!-- 查询用户结束 -->
	
	
	<!-- 添加用户 -->
	<insert id="addUser" parameterType="com.blog.entity.User" >
		insert into 
			user
		(
			introduct,
			user,
			pass,
			name,
			phone,
			avatar,
			qq_number,
			email,
			address,
			state,
			createTime,
			lastLoginTime,
			lastModifyTime
		)values(
			#{introduct},
			#{user},
			#{pass},
			#{name},
			#{phone},
			#{avatar},
			#{qq_number},
			#{email},
			#{address},
			0,
			#{createTime},
			#{lastLoginTime},
			#{lastModifyTime}
		)
	
	</insert>
	 
	<!-- 更改用户 -->
	<update id="updateUser" parameterType="com.blog.entity.User">
		update 
			user 
		set 
			introduct=#{introduct},
			user=#{user},
			pass=#{pass},
			name=#{name},
			phone=#{phone},
			avatar=#{avatar},
			qq_number=#{qq_number},
			email=#{email},
			address=#{address},
			state=#{state},
			createTime=#{createTime},
			lastLoginTime=#{lastLoginTime},
			lastModifyTime=#{lastModifyTime}
		where 
			id = #{id}
	</update>
</mapper>